extends ../layouts/app.jade

block menu
  - activeMenu = link.contact

block content
  .contact.container
    
    ul
      li(data-text=isAdmin ? "#{prefix}/contact/lukasz" : null, editor=isAdmin ? "true" : null)
        !{getText(prefix+"/contact/lukasz")}
      li(data-text=isAdmin ? "#{prefix}/contact/marcin" : null, editor=isAdmin ? "true" : null)
        !{getText(prefix+"/contact/marcin")}
        
    .address(data-text=isAdmin ? "#{prefix}/contact/address" : null, editor=isAdmin ? "true" : null)
      !{getText(prefix+"/contact/address")}
      
    .email
      a(href="mailto:biuro@monsunstudio.com") biuro@monsunstudio.com
