extends ../layouts/app.jade

block content
  
  - sliderIndex = prefix == '/en' ? 0 : 1

  .home.container(ng-controller=isAdmin ? 'SliderController' : null)
    if isAdmin
      .thumbs(data-slides="#{JSON.stringify(slides)}", ng-sortable="sortConfig", data-index="#{sliderIndex}")
        .img(ng-repeat="slide in slides", ng-click="editSlide(slide)")
          i.icon-cancel(ng-click="deleteSlide(slide, $index, $event)")
          img(ng-src="/fx/thumb-{{slide.file}}")
      .tools
        .button(ngf-select="", ngf-change="upload($files)", accept="image/*", ng-class="{disabled: isUploading}") New slide
    else
      .slider
        each slide, index in slides
          if (slide.link && slide.link.length)
            a.slide(href="#{slide.link}", class=!index ? "active" : null)
              img(src="/fx/#{slide.file}")
          else
            .slide(class=!index ? "active" : null)
              img(src="/fx/#{slide.file}")
        ul.nav
          each slide, index in slides
            li(class=!index ? "active" : null) #{index+1}
