extends ../layouts/app.jade

block menu
  - activeMenu = prefix == '/pl' ? 'oferta' : 'offer'
  
block content
  .offer.container
    .section-title
      h2(data-text=isAdmin ? "#{prefix}/offer/title" : null)
        | !{getText(prefix+"/offer/title")}
    ul
      li
        .title(data-text=isAdmin ? "#{prefix}/offer/p1/title" : null)
          | !{getText(prefix+"/offer/p1/title")}
        .description(data-text=isAdmin ? "#{prefix}/offer/p1/description" : null)
          | !{getText(prefix+"/offer/p1/description")}
        .items(data-text=isAdmin ? "#{prefix}/offer/p1/items" : null)
          | !{getText(prefix+"/offer/p1/items")}
        
      li
        .title(data-text=isAdmin ? "#{prefix}/offer/p2/title" : null)
          | !{getText(prefix+"/offer/p2/title")}
        .description(data-text=isAdmin ? "#{prefix}/offer/p2/description" : null)
          | !{getText(prefix+"/offer/p2/description")}
        .items(data-text=isAdmin ? "#{prefix}/offer/p2/items" : null)
          | !{getText(prefix+"/offer/p2/items")}

      li
        .title(data-text=isAdmin ? "#{prefix}/offer/p3/title" : null)
          | !{getText(prefix+"/offer/p3/title")}
        .description(data-text=isAdmin ? "#{prefix}/offer/p3/description" : null)
          | !{getText(prefix+"/offer/p3/description")}
        .items(data-text=isAdmin ? "#{prefix}/offer/p3/items" : null)
          | !{getText(prefix+"/offer/p3/items")}
