extends ../layouts/app.jade

block menu
  - activeMenu = prefix == '/pl' ? 'projekty' : 'projects'

block content
  .project-details.container(ng-controller=isAdmin ? "ProjectDetailsController" : null, ng-init=isAdmin ? "init('#{prefix ? prefix : '/en'}', #{project._id}, '#{prefix}/#{project.category}')" : null)

    .details
      .title 
        span(data-text="name", on-update="update(attr, value)") !{project.name}
        .year(data-text="year", on-update="update(attr, value)") !{project.year}
      .description(data-text="description", on-update="update(attr, value)", editor) !{project.description}
  
    if isAdmin
      .tools
        .button(ngf-select="", ngf-change="upload($files)", accept="image/*", ng-class="{disabled: isUploading}") Add image
        .button.delete(ng-click="deleteProject(true)") Delete project
      .thumbs(data-images="#{JSON.stringify(project.images)}", ng-sortable="sortConfig")
        .img(ng-repeat="image in images")
          i.icon-cancel(ng-click="deleteImage(image, $index)")
          img(ng-src="/fx/{{image.file}}")
          .description(data-text="description", on-update="updateImage(image._id, attr, value)", ng-model="image.description") 
    else
      each image in project.images
        .img
          img(src="/fx/#{image.file}")
          .description !{image.description}
    
    .info
      dl
        if isAdmin
          dt= text.project
          dd !{project.name}
          dt= text.customer
          dd(data-text="customer", on-update="update(attr, value)") !{project.customer}
          dt= text.design
          dd(data-text="design", on-update="update(attr, value)") !{project.design}
          dt= text.cooperation
          dd(data-text="cooperation", on-update="update(attr, value)") !{project.cooperation}
          dt= text.team
          dd(data-text="team", on-update="update(attr, value)") !{project.team}
          dt= text.stage
          dd(data-text="stage", on-update="update(attr, value)") !{project.stage}
          dt= text.status
          dd(data-text="status", on-update="update(attr, value)") !{project.status}
          dt= text.investor
          dd(data-text="investor", on-update="update(attr, value)") !{project.investor}
          dt= text.realization
          dd(data-text="realization", on-update="update(attr, value)") !{project.realization}
          dt= text.area
          dd(data-text="area", on-update="update(attr, value)") !{project.area}
          dt= text.photography
          dd(data-text="photography", on-update="update(attr, value)") !{project.photography}
          
          
        else
          dt
            = text.project
            | :
          dd !{project.name}
          - if (project.customer)
            dt
              = text.customer
              | :
            dd !{project.customer}
          - if (project.design)
            dt
              = text.design
              | :
            dd !{project.design}
          - if (project.cooperation)
            dt
              = text.cooperation
              | :
            dd !{project.cooperation}
          - if (project.team)
            dt
              = text.team
              | :
            dd !{project.team}
          - if (project.stage)
            dt
              = text.stage
              | :
            dd !{project.stage}
          - if (project.status)
            dt
              = text.status
              | :
            dd !{project.status}
          - if (project.investor)
            dt
              = text.investor
              | :
            dd !{project.investor}
          - if (project.realization)
            dt
              = text.realization
              | :
            dd !{project.realization}
          - if (project.area)
            dt
              = text.area
              | :
            dd !{project.area}
          - if (project.photography)
            dt
              = text.photography
              | :
            dd !{project.photography}
