extends ../layouts/app.jade

block menu
  - activeMenu = prefix == '/pl' ? 'projekty' : 'projects'

block content
  .projects.container
    //(ng-controller="ProjectsController", ng-init=isAdmin ? "init('#{prefix ? prefix : '/en'}')" : null)

    .section-title
      h2(data-text=isAdmin ? "#{prefix}/projects/claim" : null)
        | !{getText(prefix+"/projects/claim")}
    .list
      .container
        
        if isAdmin
          .tools
            .button(ng-click="newProject()") New project
        
        ul.list-items
          li
            a(href="#")
              img(src="http://lorempixel.com/265/305")
              .description 264/302
          li
            a(href="#")
              img(src="http://lorempixel.com/265/305")
              .description 264/302
          li
            a(href="#")
              img(src="http://lorempixel.com/265/305")
              .description 264/302
          li
            a(href="#")
              img(src="http://lorempixel.com/265/305")
              .description 264/302
          li
            a(href="#")
              img(src="http://lorempixel.com/265/305")
              .description 264/302
          li
            a(href="#")
              img(src="http://lorempixel.com/265/305")
              .description 264/302
          li
            a(href="#")
              img(src="http://lorempixel.com/265/305")
              .description 264/302
          li
            a(href="#")
              img(src="http://lorempixel.com/265/305")
              .description 264/302
          li
            a(href="#")
              img(src="http://lorempixel.com/265/305")
              .description 264/302
          //- each project in projects
          //-   li(data-id=isAdmin ? project._id : null, data-sector=project.sector, data-solution=project.solution)
          //-     a(href="#{prefix}/#{link.projects}/#{project.link}/#{project._id}")
          //-       .image
          //-         - image = project.images && project.images.length ? project.images[0] : null
          //-         if image
          //-           img(src="/fx/s-#{image.file}")
          //-         else
          //-           img(src="/project.jpg")
          //-       .name #{project.name}
          //-       .description !{truncate(project.description)}
