extends ../layouts/app.jade

block menu
  - activeMenu = category

block content
  .projects.container(ng-controller=isAdmin ? "ProjectsController" : null, ng-init=isAdmin ? "init('#{prefix ? prefix : '/pl'}')" : null)

    .section-title
      h2(data-text=isAdmin ? "#{prefix}/projects/claim" : null)
        | !{getText(prefix+"/projects/claim")}
    .list
      .container
        
        if isAdmin
          .tools
            .button(ng-click="newProject()") New project
        
        ul.list-items
          each project in projects
            li(data-id=isAdmin ? project._id : null, data-category=project.category)
              a(href="#{prefix}/#{project.category}/#{project.link}/#{project._id}")
                - image = project.images && project.images.length ? project.images[0] : null
                if image
                  img(src="/fx/s-#{image.file}")
                .description
                  | #{project.name}
                  br
                  | #{project.year}
