extends ../layouts/app.jade

block menu
  - activeMenu = prefix == '/pl' ? 'rozwiazania' : 'solutions'

block content
  .solutions(ng-controller=isAdmin ? "SolutionsController" : null, ng-init=isAdmin ? "init('#{prefix ? prefix : '/en'}')" : null)

    .title
      h2= text.solutions

    .list
      .container
        .about(data-text=isAdmin ? "#{prefix}/solutions/about" : null)
          !{getText(prefix+"/solutions/about")}
        .more
          a(href="/about-us")= text.moreAboutUs

        if isAdmin
          .tools
            .button(ng-click="newSolution()") New solution

        ul
          each solution in solutions
            li.solution(id=solution.link, data-id=isAdmin ? solution._id : null)
              .title(data-text="name/#{solution._id}", on-update="update(attr, value)") !{solution.name}
              if isAdmin
                .claim(data-text="claim/#{solution._id}", on-update="update(attr, value)") !{solution.claim}
              .content
                if isAdmin
                  .image(data-solution-id="#{solution._id}")
                    img(src=solution.image ? "/fx/#{solution.image.file}" : null)
                    .tools
                      .button(ngf-select="", ngf-change="upload($files, #{solution._id})", accept="image/*", ng-class="{disabled: isUploading}") Upload image
                else
                  if solution.image
                    .image
                      img(src="/fx/#{solution.image.file}")
                div(data-text="description/#{solution._id}", on-update="update(attr, value)", editor) !{solution.description}
              if isAdmin
                .tools.delete
                  .button(ng-click="deleteSolution('#{solution._id}')") Delete solution

      .container
        footer
          a.button(href="#{prefix}/#{link.contact}")= text.contactUs
